/* src/components/ScrollToTopButton.css */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 1000;
  }
  .scroll-to-top button {
    padding:10px 20px;
    border-radius: 50% 10% 10% 50%;
    -webkit-border-radius: 50% 10% 10% 50%;
    -moz-border-radius: 50% 10% 10% 50%;
    -ms-border-radius: 50% 10% 10% 50%;
    -o-border-radius: 50% 10% 10% 50%;
}
  