.hero{
    width: 100%;
    height:90vh;
    padding-top:80px;
    position: relative;
    background-image: url(./assets/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.overlay{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

@media (max-width:991px){
    .hero{
        background-image: url(./assets/hero2.jpg);
        background-size: cover;
    }
}
.hero .left{
    height: 100%;
    margin-top:200px;
    z-index: 111;
}
@media (max-width:767px){
    .hero .left{
        margin-top:10px
    }
    .hero .left p{
        font-size: 2rem;
    }    
}
.hero .left h1{
    font-size:3em;
    margin-bottom:30px;
    z-index: 111;
    color:#000
}
.hero .left p{
    font-size: 2rem;
    margin-bottom: 30px;
    color:#d5e2ea80
}
.hero .left Link{
    width:fit-content;
    background-color: var(--forth-color);
    border: #0AAEB9;
    padding-inline:20px
}
.hero .left a:hover{
    background-color: var(--secondary-color);
}
.hero .right{
    position: relative;
    z-index: 111;
}
.hero .right .offer{
    position: absolute;
    top: 40px;
    right: 50px;
    color: #fff;
    background: linear-gradient(#FDC830, #F37335);
    width: 200px;
    border-radius: 50%;
    text-align: center;
    line-height: normal;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation: jumping 1s ease-in-out infinite;
}
@media(max-width:767px){
    .hero .right{
        display: none;
    }
    .hero .left{
        width: 100%;
    }
}
.category {
    width:200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom:10px;
    background-color:#d5e2ea80;
    padding:10px
}
@media (max-width:767px){
    .category{
        width: 150px;
    }
}
.category img{
    width:100%;
}
.supcategory{
    background: linear-gradient(180deg, #FAA933 0%, rgba(255, 255, 255, 0.00) 100%);
}
.supcategory .box{
    width:250px;
    height:200px;
}
.supcategory .image img{
    width:100%;
    height: 100%;
}
.supcategory .title{
    position: absolute;
    background: rgba(254, 249, 249, 0.95);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.57);
    width: 80%;
    bottom:30px;
}
.supcategory .title a{
    color:#14B1F0;
}
.arrivals .product{
    width:200px
}
.bestseller .product{
    width:220px
}
.services .box{
    padding:10px 15px;
    border-radius: 50px;
    background: #fff;
    box-shadow:  50px 50px 100px #e0e0e0,
    -50px -50px 100px #ffffff;
}

@keyframes jumping {
    0%{
        margin-top:50px
    }
    50%{
        margin-top: 0;
    }
    100%{
        margin-top: 50px;
    }
}