.hero{
    width: 100%;
    max-height: 50vh;
    background:url("./assets/herobackground.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.left h1{
    font-size:46px
}
.left h1 span{
    color:#0AAEB9
}