.hero{
    width: 100%;
    background:url("./assets/herobackground.png");
    background-repeat: no-repeat;
    background-size: cover
}
.left h1{
    font-size:46px
}
.left h1 span{
    color:#0AAEB9
}
.left a{
    width:fit-content;
    background-color: #0AAEB9;
    border: #0AAEB9;
    padding-inline:20px
}
.right{
    position: relative;
}
.right .offer{
    position: absolute;
    top: 60px;
    right: 120px;
    color: #fff;
    font-size: 50px;
    background: linear-gradient(#FDC830, #F37335);
    width: 200px;
    border-radius: 50%;
    text-align: center;
    line-height: normal;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}